.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--section-bg);
}

.login {
  color: var(--text-color);
  font-size: var(--p-font-size);
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
