.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--heading-color);
  font-size: var(--h3-font-size);
}

.list {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem;
}

.item {
  flex-shrink: 0;
}
