.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  color: var(--heading-color);
  font-size: var(--h1-font-size);
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--border-color);
  background-color: var(--section-bg);
}
