.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {
  white-space: nowrap;
  color: var(--heading-color);
  font-size: var(--h1-font-size);
  cursor: pointer;
}
